/* line 1, ../../scss/style.teal.rounded.scss */
.d-block {
  display: block !important;
}

/* line 5, ../../scss/style.teal.rounded.scss */
.d-inline-block {
  display: inline-block !important;
}

/* line 9, ../../scss/style.teal.rounded.scss */
.d-inline {
  display: inline !important;
}

/* line 13, ../../scss/style.teal.rounded.scss */
.w-100 {
  width: 100% !important;
}

/* line 17, ../../scss/style.teal.rounded.scss */
.m-x-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

/* line 22, ../../scss/style.teal.rounded.scss */
.m-a-0 {
  margin: 0 0 !important;
}

/* line 26, ../../scss/style.teal.rounded.scss */
.m-t-0 {
  margin-top: 0 !important;
}

/* line 30, ../../scss/style.teal.rounded.scss */
.m-r-0 {
  margin-right: 0 !important;
}

/* line 34, ../../scss/style.teal.rounded.scss */
.m-b-0 {
  margin-bottom: 0 !important;
}

/* line 38, ../../scss/style.teal.rounded.scss */
.m-l-0 {
  margin-left: 0 !important;
}

/* line 42, ../../scss/style.teal.rounded.scss */
.m-x-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

/* line 47, ../../scss/style.teal.rounded.scss */
.m-y-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* line 52, ../../scss/style.teal.rounded.scss */
.m-a-1 {
  margin: 1rem 1rem !important;
}

/* line 56, ../../scss/style.teal.rounded.scss */
.m-t-1 {
  margin-top: 1rem !important;
}

/* line 60, ../../scss/style.teal.rounded.scss */
.m-r-1 {
  margin-right: 1rem !important;
}

/* line 64, ../../scss/style.teal.rounded.scss */
.m-b-1 {
  margin-bottom: 1rem !important;
}

/* line 68, ../../scss/style.teal.rounded.scss */
.m-l-1 {
  margin-left: 1rem !important;
}

/* line 72, ../../scss/style.teal.rounded.scss */
.m-x-1 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

/* line 77, ../../scss/style.teal.rounded.scss */
.m-y-1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

/* line 82, ../../scss/style.teal.rounded.scss */
.m-a-2 {
  margin: 1.5rem 1.5rem !important;
}

/* line 86, ../../scss/style.teal.rounded.scss */
.m-t-2 {
  margin-top: 1.5rem !important;
}

/* line 90, ../../scss/style.teal.rounded.scss */
.m-r-2 {
  margin-right: 1.5rem !important;
}

/* line 94, ../../scss/style.teal.rounded.scss */
.m-b-2 {
  margin-bottom: 1.5rem !important;
}

/* line 98, ../../scss/style.teal.rounded.scss */
.m-l-2 {
  margin-left: 1.5rem !important;
}

/* line 102, ../../scss/style.teal.rounded.scss */
.m-x-2 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

/* line 107, ../../scss/style.teal.rounded.scss */
.m-y-2 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

/* line 112, ../../scss/style.teal.rounded.scss */
.m-a-3 {
  margin: 3rem 3rem !important;
}

/* line 116, ../../scss/style.teal.rounded.scss */
.m-t-3 {
  margin-top: 3rem !important;
}

/* line 120, ../../scss/style.teal.rounded.scss */
.m-r-3 {
  margin-right: 3rem !important;
}

/* line 124, ../../scss/style.teal.rounded.scss */
.m-b-3 {
  margin-bottom: 3rem !important;
}

/* line 128, ../../scss/style.teal.rounded.scss */
.m-l-3 {
  margin-left: 3rem !important;
}

/* line 132, ../../scss/style.teal.rounded.scss */
.m-x-3 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

/* line 137, ../../scss/style.teal.rounded.scss */
.m-y-3 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

/* line 142, ../../scss/style.teal.rounded.scss */
.p-a-0 {
  padding: 0 0 !important;
}

/* line 146, ../../scss/style.teal.rounded.scss */
.p-t-0 {
  padding-top: 0 !important;
}

/* line 150, ../../scss/style.teal.rounded.scss */
.p-r-0 {
  padding-right: 0 !important;
}

/* line 154, ../../scss/style.teal.rounded.scss */
.p-b-0 {
  padding-bottom: 0 !important;
}

/* line 158, ../../scss/style.teal.rounded.scss */
.p-l-0 {
  padding-left: 0 !important;
}

/* line 162, ../../scss/style.teal.rounded.scss */
.p-x-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

/* line 167, ../../scss/style.teal.rounded.scss */
.p-y-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* line 172, ../../scss/style.teal.rounded.scss */
.p-a-1 {
  padding: 1rem 1rem !important;
}

/* line 176, ../../scss/style.teal.rounded.scss */
.p-t-1 {
  padding-top: 1rem !important;
}

/* line 180, ../../scss/style.teal.rounded.scss */
.p-r-1 {
  padding-right: 1rem !important;
}

/* line 184, ../../scss/style.teal.rounded.scss */
.p-b-1 {
  padding-bottom: 1rem !important;
}

/* line 188, ../../scss/style.teal.rounded.scss */
.p-l-1 {
  padding-left: 1rem !important;
}

/* line 192, ../../scss/style.teal.rounded.scss */
.p-x-1 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

/* line 197, ../../scss/style.teal.rounded.scss */
.p-y-1 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

/* line 202, ../../scss/style.teal.rounded.scss */
.p-a-2 {
  padding: 1.5rem 1.5rem !important;
}

/* line 206, ../../scss/style.teal.rounded.scss */
.p-t-2 {
  padding-top: 1.5rem !important;
}

/* line 210, ../../scss/style.teal.rounded.scss */
.p-r-2 {
  padding-right: 1.5rem !important;
}

/* line 214, ../../scss/style.teal.rounded.scss */
.p-b-2 {
  padding-bottom: 1.5rem !important;
}

/* line 218, ../../scss/style.teal.rounded.scss */
.p-l-2 {
  padding-left: 1.5rem !important;
}

/* line 222, ../../scss/style.teal.rounded.scss */
.p-x-2 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

/* line 227, ../../scss/style.teal.rounded.scss */
.p-y-2 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

/* line 232, ../../scss/style.teal.rounded.scss */
.p-a-3 {
  padding: 3rem 3rem !important;
}

/* line 236, ../../scss/style.teal.rounded.scss */
.p-t-3 {
  padding-top: 3rem !important;
}

/* line 240, ../../scss/style.teal.rounded.scss */
.p-r-3 {
  padding-right: 3rem !important;
}

/* line 244, ../../scss/style.teal.rounded.scss */
.p-b-3 {
  padding-bottom: 3rem !important;
}

/* line 248, ../../scss/style.teal.rounded.scss */
.p-l-3 {
  padding-left: 3rem !important;
}

/* line 252, ../../scss/style.teal.rounded.scss */
.p-x-3 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

/* line 257, ../../scss/style.teal.rounded.scss */
.p-y-3 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

/* BEGIN Thin */
@font-face {
  font-family: RobotoDraft;
  src: url("../fonts/robotodraft/Thin/RobotoDraft-Thin.woff2?v=1.0.0") format("woff2"), url("../fonts/robotodraft/Thin/RobotoDraft-Thin.woff?v=1.0.0") format("woff"), url("../fonts/robotodraft/Thin/RobotoDraft-Thin.ttf?v=1.0.0") format("truetype");
  font-weight: 100;
  font-style: normal;
}
/* END Thin */
/* BEGIN Light */
@font-face {
  font-family: RobotoDraft;
  src: url("../fonts/robotodraft/Light/RobotoDraft-Light.woff2?v=1.0.0") format("woff2"), url("../fonts/robotodraft/Light/RobotoDraft-Light.woff?v=1.0.0") format("woff"), url("../fonts/robotodraft/Light/RobotoDraft-Light.ttf?v=1.0.0") format("truetype");
  font-weight: 300;
  font-style: normal;
}
/* END Light */
/* BEGIN Regular */
@font-face {
  font-family: RobotoDraft;
  src: url("../fonts/robotodraft/Regular/RobotoDraft-Regular.woff2?v=1.0.0") format("woff2"), url("../fonts/robotodraft/Regular/RobotoDraft-Regular.woff?v=1.0.0") format("woff"), url("../fonts/robotodraft/Regular/RobotoDraft-Regular.ttf?v=1.0.0") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: RobotoDraft;
  src: url("../fonts/robotodraft/Regular/RobotoDraft-Regular.woff2?v=1.0.0") format("woff2"), url("../fonts/robotodraft/Regular/RobotoDraft-Regular.woff?v=1.0.0") format("woff"), url("../fonts/robotodraft/Regular/RobotoDraft-Regular.ttf?v=1.0.0") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: RobotoDraft;
  src: url("../fonts/robotodraft/Italic/RobotoDraft-Italic.woff2?v=1.0.0") format("woff2"), url("../fonts/robotodraft/Italic/RobotoDraft-Italic.woff?v=1.0.0") format("woff"), url("../fonts/robotodraft/Italic/RobotoDraft-Italic.ttf?v=1.0.0") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: RobotoDraft;
  src: url("../fonts/robotodraft/Italic/RobotoDraft-Italic.woff2?v=1.0.0") format("woff2"), url("../fonts/robotodraft/Italic/RobotoDraft-Italic.woff?v=1.0.0") format("woff"), url("../fonts/robotodraft/Italic/RobotoDraft-Italic.ttf?v=1.0.0") format("truetype");
  font-weight: normal;
  font-style: italic;
}
/* END Italic */
/* BEGIN Medium */
@font-face {
  font-family: RobotoDraft;
  src: url("../fonts/robotodraft/Medium/RobotoDraft-Medium.woff2?v=1.0.0") format("woff2"), url("../fonts/robotodraft/Medium/RobotoDraft-Medium.woff?v=1.0.0") format("woff"), url("../fonts/robotodraft/Medium/RobotoDraft-Medium.ttf?v=1.0.0") format("truetype");
  font-weight: 500;
  font-style: normal;
}
/* END Medium */
/* BEGIN Bold */
@font-face {
  font-family: RobotoDraft;
  src: url("../fonts/robotodraft/Bold/RobotoDraft-Bold.woff2?v=1.0.0") format("woff2"), url("../fonts/robotodraft/Bold/RobotoDraft-Bold.woff?v=1.0.0") format("woff"), url("../fonts/robotodraft/Bold/RobotoDraft-Bold.ttf?v=1.0.0") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: RobotoDraft;
  src: url("../fonts/robotodraft/Bold/RobotoDraft-Bold.woff2?v=1.0.0") format("woff2"), url("../fonts/robotodraft/Bold/RobotoDraft-Bold.woff?v=1.0.0") format("woff"), url("../fonts/robotodraft/Bold/RobotoDraft-Bold.ttf?v=1.0.0") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: RobotoDraft;
  src: url("../fonts/robotodraft/BoldItalic/RobotoDraft-BoldItalic.woff2?v=1.0.0") format("woff2"), url("../fonts/robotodraft/BoldItalic/RobotoDraft-BoldItalic.woff?v=1.0.0") format("woff"), url("../fonts/robotodraft/BoldItalic/RobotoDraft-BoldItalic.ttf?v=1.0.0") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: RobotoDraft;
  src: url("../fonts/robotodraft/BoldItalic/RobotoDraft-BoldItalic.woff2?v=1.0.0") format("woff2"), url("../fonts/robotodraft/BoldItalic/RobotoDraft-BoldItalic.woff?v=1.0.0") format("woff"), url("../fonts/robotodraft/BoldItalic/RobotoDraft-BoldItalic.ttf?v=1.0.0") format("truetype");
  font-weight: bold;
  font-style: italic;
}
/* END Bold Italic */
/* BEGIN Black */
@font-face {
  font-family: RobotoDraft;
  src: url("../fonts/robotodraft/Black/RobotoDraft-Black.woff2?v=1.0.0") format("woff2"), url("../fonts/robotodraft/Black/RobotoDraft-Black.woff?v=1.0.0") format("woff"), url("../fonts/robotodraft/Black/RobotoDraft-Black.ttf?v=1.0.0") format("truetype");
  font-weight: 900;
  font-style: normal;
}
/* END Black */
/*@font-face {
  font-family: RobotoDraft;
  src: url(../fonts/robotodraft/Thin/RobotoDraft-Thin.woff2?v=1.0.0) format("woff2"), url(../fonts/robotodraft/Thin/RobotoDraft-Thin.woff?v=1.0.0) format("woff"), url(../fonts/robotodraft/Thin/RobotoDraft-Thin.ttf?v=1.0.0) format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: RobotoDraft;
  src: url(../fonts/robotodraft/Light/RobotoDraft-Light.woff2?v=1.0.0) format("woff2"), url(../fonts/robotodraft/Light/RobotoDraft-Light.woff?v=1.0.0) format("woff"), url(../fonts/robotodraft/Light/RobotoDraft-Light.ttf?v=1.0.0) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: RobotoDraft;
  src: url(../fonts/robotodraft/Regular/RobotoDraft-Regular.woff2?v=1.0.0) format("woff2"), url(../fonts/robotodraft/Regular/RobotoDraft-Regular.woff?v=1.0.0) format("woff"), url(../fonts/robotodraft/Regular/RobotoDraft-Regular.ttf?v=1.0.0) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: RobotoDraft;
  src: url(../fonts/robotodraft/Regular/RobotoDraft-Regular.woff2?v=1.0.0) format("woff2"), url(../fonts/robotodraft/Regular/RobotoDraft-Regular.woff?v=1.0.0) format("woff"), url(../fonts/robotodraft/Regular/RobotoDraft-Regular.ttf?v=1.0.0) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: RobotoDraft;
  src: url(../fonts/robotodraft/Italic/RobotoDraft-Italic.woff2?v=1.0.0) format("woff2"), url(../fonts/robotodraft/Italic/RobotoDraft-Italic.woff?v=1.0.0) format("woff"), url(../fonts/robotodraft/Italic/RobotoDraft-Italic.ttf?v=1.0.0) format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: RobotoDraft;
  src: url(../fonts/robotodraft/Italic/RobotoDraft-Italic.woff2?v=1.0.0) format("woff2"), url(../fonts/robotodraft/Italic/RobotoDraft-Italic.woff?v=1.0.0) format("woff"), url(../fonts/robotodraft/Italic/RobotoDraft-Italic.ttf?v=1.0.0) format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: RobotoDraft;
  src: url(../fonts/robotodraft/Medium/RobotoDraft-Medium.woff2?v=1.0.0) format("woff2"), url(../fonts/robotodraft/Medium/RobotoDraft-Medium.woff?v=1.0.0) format("woff"), url(../fonts/robotodraft/Medium/RobotoDraft-Medium.ttf?v=1.0.0) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: RobotoDraft;
  src: url(../fonts/robotodraft/Bold/RobotoDraft-Bold.woff2?v=1.0.0) format("woff2"), url(../fonts/robotodraft/Bold/RobotoDraft-Bold.woff?v=1.0.0) format("woff"), url(../fonts/robotodraft/Bold/RobotoDraft-Bold.ttf?v=1.0.0) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: RobotoDraft;
  src: url(../fonts/robotodraft/Bold/RobotoDraft-Bold.woff2?v=1.0.0) format("woff2"), url(../fonts/robotodraft/Bold/RobotoDraft-Bold.woff?v=1.0.0) format("woff"), url(../fonts/robotodraft/Bold/RobotoDraft-Bold.ttf?v=1.0.0) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: RobotoDraft;
  src: url(../fonts/robotodraft/BoldItalic/RobotoDraft-BoldItalic.woff2?v=1.0.0) format("woff2"), url(../fonts/robotodraft/BoldItalic/RobotoDraft-BoldItalic.woff?v=1.0.0) format("woff"), url(../fonts/robotodraft/BoldItalic/RobotoDraft-BoldItalic.ttf?v=1.0.0) format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: RobotoDraft;
  src: url(../fonts/robotodraft/BoldItalic/RobotoDraft-BoldItalic.woff2?v=1.0.0) format("woff2"), url(../fonts/robotodraft/BoldItalic/RobotoDraft-BoldItalic.woff?v=1.0.0) format("woff"), url(../fonts/robotodraft/BoldItalic/RobotoDraft-BoldItalic.ttf?v=1.0.0) format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: RobotoDraft;
  src: url(../fonts/robotodraft/Black/RobotoDraft-Black.woff2?v=1.0.0) format("woff2"), url(../fonts/robotodraft/Black/RobotoDraft-Black.woff?v=1.0.0) format("woff"), url(../fonts/robotodraft/Black/RobotoDraft-Black.ttf?v=1.0.0) format("truetype");
  font-weight: 900;
  font-style: normal;
}*/
/* line 335, ../../scss/style.teal.rounded.scss */
body {
  font-family: "RobotoDraft", "Roboto", sans-serif;
}

/* line 339, ../../scss/style.teal.rounded.scss */
body,
a,
.btn-default {
  color: #666;
}

/* line 345, ../../scss/style.teal.rounded.scss */
.btn {
  border-radius: 4px;
}

/* line 349, ../../scss/style.teal.rounded.scss */
.dropdown-menu {
  border-radius: 4px;
  border-color: #ccc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

/* line 355, ../../scss/style.teal.rounded.scss */
.dropdown-menu > li > a {
  color: #666;
}

/* line 358, ../../scss/style.teal.rounded.scss */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #eee;
}

/* line 362, ../../scss/style.teal.rounded.scss */
.form-control {
  border-radius: 4px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 370, ../../scss/style.teal.rounded.scss */
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 375, ../../scss/style.teal.rounded.scss */
input[type=checkbox],
input[type=radio] {
  display: none;
}

/* line 379, ../../scss/style.teal.rounded.scss */
input[type=checkbox] + span::before,
input[type=radio] + span::before {
  font-family: 'fontAwesome';
  font-size: 12px;
  line-height: 14px;
  position: relative;
  top: -1px;
  display: inline-block;
  width: 16px;
  margin-right: 2px;
  margin-left: -20px;
  content: '\a0';
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

/* line 396, ../../scss/style.teal.rounded.scss */
input[type=checkbox]:checked + span::before,
input[type=radio]:checked + span::before {
  content: '\f00c';
  color: #666;
}

/* line 402, ../../scss/style.teal.rounded.scss */
input[type=radio] {
  display: none;
}

/* line 405, ../../scss/style.teal.rounded.scss */
input[type=radio] + span::before {
  font-size: 9px;
  margin-right: 4px;
  border-radius: 100%;
}

/* line 410, ../../scss/style.teal.rounded.scss */
input[type=radio]:checked + span::before {
  content: '\f111';
  color: #666;
}

/* line 415, ../../scss/style.teal.rounded.scss */
.title {
  font-size: 18px;
  line-height: 1;
  margin: 0 0 10px;
  padding: 0;
}

/* line 421, ../../scss/style.teal.rounded.scss */
.title > span {
  display: inline-block;
  margin-bottom: -3px;
  padding-bottom: 10px;
  color: #666;
}

/* line 427, ../../scss/style.teal.rounded.scss */
.title > span > a {
  color: #666;
}

/* line 431, ../../scss/style.teal.rounded.scss */
.label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.25;
  display: inline-block;
  height: 20px;
  border-radius: 4px;
}

/* line 440, ../../scss/style.teal.rounded.scss */
.label.arrowed {
  position: relative;
  z-index: 1;
  display: inline-block;
  height: 20px;
  margin-left: 5px;
  border-top-left-radius: 1px !important;
  border-bottom-left-radius: 1px !important;
}

/* line 449, ../../scss/style.teal.rounded.scss */
.label.arrowed:before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: -10px;
  display: inline-block;
  content: '';
  border: 1px solid transparent;
  border-width: 10px 5px;
}

/* line 460, ../../scss/style.teal.rounded.scss */
.label.arrowed-right {
  position: relative;
  z-index: 1;
  display: inline-block;
  height: 20px;
  margin-right: 5px;
  border-top-right-radius: 1px !important;
  border-bottom-right-radius: 1px !important;
}

/* line 469, ../../scss/style.teal.rounded.scss */
.label.arrowed-right:after {
  position: absolute;
  z-index: -1;
  top: 0;
  right: -10px;
  display: inline-block;
  content: '';
  border: 1px solid transparent;
  border-width: 10px 5px;
}

/* line 480, ../../scss/style.teal.rounded.scss */
.label-default.arrowed:before {
  border-right-color: #777;
}

/* line 484, ../../scss/style.teal.rounded.scss */
.label-default.arrowed-right:after {
  border-left-color: #777;
}

/* line 488, ../../scss/style.teal.rounded.scss */
.label-primary.arrowed:before {
  border-right-color: #337ab7;
}

/* line 492, ../../scss/style.teal.rounded.scss */
.label-primary.arrowed-right:after {
  border-left-color: #337ab7;
}

/* line 496, ../../scss/style.teal.rounded.scss */
.label-success.arrowed:before {
  border-right-color: #5cb85c;
}

/* line 500, ../../scss/style.teal.rounded.scss */
.label-success.arrowed-right:after {
  border-left-color: #5cb85c;
}

/* line 504, ../../scss/style.teal.rounded.scss */
.label-info.arrowed:before {
  border-right-color: #5bc0de;
}

/* line 508, ../../scss/style.teal.rounded.scss */
.label-info.arrowed-right:after {
  border-left-color: #5bc0de;
}

/* line 512, ../../scss/style.teal.rounded.scss */
.label-warning.arrowed:before {
  border-right-color: #f0ad4e;
}

/* line 516, ../../scss/style.teal.rounded.scss */
.label-warning.arrowed-right:after {
  border-left-color: #f0ad4e;
}

/* line 520, ../../scss/style.teal.rounded.scss */
.label-danger.arrowed:before {
  border-right-color: #d9534f;
}

/* line 524, ../../scss/style.teal.rounded.scss */
.label-danger.arrowed-right:after {
  border-left-color: #d9534f;
}

/* line 528, ../../scss/style.teal.rounded.scss */
.tooltip-inner {
  border-radius: 4px;
}

/* line 532, ../../scss/style.teal.rounded.scss */
.bootstrap-select .dropdown-toggle {
  border-radius: 4px;
}

/* line 535, ../../scss/style.teal.rounded.scss */
.bootstrap-select .dropdown-toggle:active, .bootstrap-select .dropdown-toggle:hover, .bootstrap-select .dropdown-toggle:focus {
  border-color: #ccc;
  outline: 0 !important;
  background-color: #eee;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 543, ../../scss/style.teal.rounded.scss */
.bootstrap-select.btn-group .dropdown-menu li a:focus {
  outline: 0;
}

/* line 547, ../../scss/style.teal.rounded.scss */
.bootstrap-select.open .dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #eee;
}

/* line 552, ../../scss/style.teal.rounded.scss */
.bootstrap-select.open .dropdown-toggle:hover {
  background-color: #eee;
}

/* line 556, ../../scss/style.teal.rounded.scss */
.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up {
  border-top-right-radius: 4px;
}

/* line 559, ../../scss/style.teal.rounded.scss */
.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down {
  border-bottom-right-radius: 4px;
}

/* line 563, ../../scss/style.teal.rounded.scss */
.img-thumbnail {
  border-radius: 4px;
}

/* line 567, ../../scss/style.teal.rounded.scss */
.panel-group .panel {
  border-radius: 4px;
}

/* line 571, ../../scss/style.teal.rounded.scss */
.list-group-nav .list-group-item {
  padding-left: 10px;
  border: 0;
  border-bottom: 1px dotted #ccc;
  background: transparent;
}

/* line 578, ../../scss/style.teal.rounded.scss */
.alert {
  border-radius: 4px;
}

/* line 582, ../../scss/style.teal.rounded.scss */
.nav-pills > li > a {
  border-radius: 4px;
}

/* line 586, ../../scss/style.teal.rounded.scss */
.top-header ul.list-inline {
  margin-bottom: 0;
}

/* line 589, ../../scss/style.teal.rounded.scss */
.top-header ul.list-inline > li {
  float: left;
  margin: 0;
  padding: 0;
}

/* line 594, ../../scss/style.teal.rounded.scss */
.top-header ul.list-inline > li .dropdown-toggle {
  border-radius: 4px;
  background-color: transparent;
}

/* line 598, ../../scss/style.teal.rounded.scss */
.top-header ul.list-inline > li .dropdown-toggle:focus {
  outline: none !important;
}

/* line 601, ../../scss/style.teal.rounded.scss */
.top-header ul.list-inline > li > a,
.top-header ul.list-inline > li .dropdown-toggle {
  display: block;
  padding: 5px 7px;
}

/* line 606, ../../scss/style.teal.rounded.scss */
.top-header ul.list-inline > li > a:hover, .top-header ul.list-inline > li > a:active,
.top-header ul.list-inline > li .dropdown-toggle:hover,
.top-header ul.list-inline > li .dropdown-toggle:active {
  text-decoration: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 613, ../../scss/style.teal.rounded.scss */
.top-header ul.list-inline > li .dropdown.open > .dropdown-toggle,
.top-header ul.list-inline > li .bootstrap-select.open > .dropdown-toggle {
  text-decoration: none;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}

/* line 619, ../../scss/style.teal.rounded.scss */
.top-header ul.list-inline > li .dropdown-toggle img,
.top-header ul.list-inline > li .dropdown-menu img {
  margin-bottom: 2px;
}

/* line 623, ../../scss/style.teal.rounded.scss */
.top-header ul.list-inline > li .dropdown-menu-login {
  line-height: 1.4;
  min-width: 230px;
  padding: 10px;
}

/* line 628, ../../scss/style.teal.rounded.scss */
.top-header ul.list-inline > li .dropdown-menu-login button {
  border-radius: 4px;
}

/* line 632, ../../scss/style.teal.rounded.scss */
.middle-header {
  background-color: #f9f9f9;
}

/* line 635, ../../scss/style.teal.rounded.scss */
.middle-header > .container > .row {
  padding: 15px 0;
}

/* line 638, ../../scss/style.teal.rounded.scss */
.middle-header .search-box input[type="text"]:focus {
  z-index: 4;
}

/* line 641, ../../scss/style.teal.rounded.scss */
.middle-header .search-box .bootstrap-select {
  z-index: 3;
}

/* line 644, ../../scss/style.teal.rounded.scss */
.middle-header .search-box .bootstrap-select > .dropdown-toggle,
.middle-header .search-box .bootstrap-select > .dropdown-menu {
  margin-left: -1px;
}

/* line 648, ../../scss/style.teal.rounded.scss */
.middle-header .btn-search {
  z-index: 3 !important;
}

/* line 651, ../../scss/style.teal.rounded.scss */
.middle-header .cart-btn > button {
  float: right;
  color: #8c8c8c;
  border-color: #d7d7d7;
  border-radius: 4px;
  background-color: #f3f3f3;
}

/* line 658, ../../scss/style.teal.rounded.scss */
.middle-header .cart-btn > button:hover {
  color: #666;
  background-color: #f6f6f6;
}

/* line 662, ../../scss/style.teal.rounded.scss */
.middle-header .cart-btn > button:active {
  outline: 0;
  background-color: #f3f3f3;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 668, ../../scss/style.teal.rounded.scss */
.middle-header .cart-btn > .dropdown-menu {
  right: 15px;
  overflow-y: auto;
  max-height: 400px;
  padding: 10px;
}

/* line 674, ../../scss/style.teal.rounded.scss */
.middle-header .cart-btn .media {
  margin-top: 10px;
}

/* line 677, ../../scss/style.teal.rounded.scss */
.middle-header .cart-btn .media:first-child {
  margin-top: 0;
}

/* line 680, ../../scss/style.teal.rounded.scss */
.middle-header .cart-btn .media-body a {
  font-size: 13px;
  display: block;
  margin-bottom: 0;
}

/* line 685, ../../scss/style.teal.rounded.scss */
.middle-header .cart-btn .media-right a {
  color: #aaa;
}

/* line 688, ../../scss/style.teal.rounded.scss */
.middle-header .cart-btn .media-right a:hover {
  color: #ef5350;
}

/* line 691, ../../scss/style.teal.rounded.scss */
.middle-header .cart-btn .media-body div,
.middle-header .cart-btn .subtotal-cart span {
  font-size: 13px;
  color: #ef5350;
}

/* line 696, ../../scss/style.teal.rounded.scss */
.middle-header .cart-btn .subtotal-cart {
  margin: 10px 0;
  padding: 10px 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

/* line 702, ../../scss/style.teal.rounded.scss */
.middle-header .cart-btn.open > button {
  color: #666 !important;
  background-color: #e7e7e7 !important;
}

/* line 707, ../../scss/style.teal.rounded.scss */
.navbar {
  min-height: inherit;
  border: 0;
  background-color: #f3f3f3;
}

/* line 712, ../../scss/style.teal.rounded.scss */
.navbar .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 716, ../../scss/style.teal.rounded.scss */
.navbar .navbar-toggle {
  float: left;
  margin-right: 0;
  margin-left: 15px;
  padding: 5px 7px;
  border-radius: 4px;
  background-color: #f3f3f3;
}

/* line 724, ../../scss/style.teal.rounded.scss */
.navbar .btn-cart-xs {
  font-size: 13px;
  margin-top: 3px;
  margin-right: 15px;
  padding: 8px 25px;
  color: #666;
  background-color: #f3f3f3;
}

/* line 733, ../../scss/style.teal.rounded.scss */
.shadow-navbar {
  position: relative;
  z-index: 2;
  margin-bottom: 0;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

/* line 741, ../../scss/style.teal.rounded.scss */
.dropdown-submenu {
  position: relative;
}

/* line 744, ../../scss/style.teal.rounded.scss */
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
}

/* line 749, ../../scss/style.teal.rounded.scss */
.owl-theme .owl-controls {
  position: absolute;
  top: 1px;
  right: 1px;
  margin-top: 0;
}

/* line 755, ../../scss/style.teal.rounded.scss */
.owl-theme .owl-controls .owl-nav [class*='owl-'] {
  font-size: 18px;
  line-height: 1;
  margin: 0;
  padding: 0 5px;
  opacity: .5;
  border-radius: 0;
}

/* line 763, ../../scss/style.teal.rounded.scss */
.owl-theme .owl-controls .owl-nav .owl-prev {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* line 767, ../../scss/style.teal.rounded.scss */
.owl-theme .owl-controls .owl-nav .owl-next {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 772, ../../scss/style.teal.rounded.scss */
.owl-theme.owl-controls-top-offset .owl-controls {
  right: 0;
  margin-top: -35px;
}

/* line 777, ../../scss/style.teal.rounded.scss */
.box-product-outer {
  margin-bottom: 5px;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  /* &:hover {
    @include box-shadow(0 6px 12px rgba(0, 0, 0, .175));
  } */
}

/* line 787, ../../scss/style.teal.rounded.scss */
.box-product .img-wrapper {
  position: relative;
  overflow: hidden;
}

/* line 791, ../../scss/style.teal.rounded.scss */
.box-product .img-wrapper > :first-child {
  position: relative;
  display: block;
}

/* line 795, ../../scss/style.teal.rounded.scss */
.box-product .img-wrapper > a > img {
  width: 100%;
}

/* line 798, ../../scss/style.teal.rounded.scss */
.box-product .img-wrapper .tags {
  position: absolute;
  top: 0;
  right: 0;
  display: table;
  overflow: visible;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  vertical-align: inherit;
  border-width: 0;
  background-color: transparent;
  direction: rtl;
}

/* line 813, ../../scss/style.teal.rounded.scss */
.box-product .img-wrapper .tags > .label-tags {
  display: table;
  margin: 0 -1px 1px 0;
  text-align: left;
  opacity: .80;
  filter: alpha(opacity=80);
  direction: ltr;
}

/* line 821, ../../scss/style.teal.rounded.scss */
.box-product .img-wrapper .tags > .label-tags:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 825, ../../scss/style.teal.rounded.scss */
.box-product .img-wrapper .tags > .label-tags a:hover {
  text-decoration: none;
}

/* line 828, ../../scss/style.teal.rounded.scss */
.box-product .img-wrapper .tags-left {
  left: 0;
  direction: ltr;
}

/* line 832, ../../scss/style.teal.rounded.scss */
.box-product .img-wrapper > .option {
  position: absolute;
  top: auto;
  right: 0;
  bottom: -30px;
  left: 0;
  width: auto;
  height: 28px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.55);
}

/* line 848, ../../scss/style.teal.rounded.scss */
.box-product .img-wrapper > .option > a {
  font-size: 18px;
  font-weight: normal;
  display: inline-block;
  padding: 0 4px;
  color: #fff;
}

/* line 855, ../../scss/style.teal.rounded.scss */
.box-product .img-wrapper > .option > a:hover {
  color: #9E9E9E;
}

/* line 858, ../../scss/style.teal.rounded.scss */
.box-product .img-wrapper > .option > a.wishlist:hover {
  color: #ef5350;
}

/* line 861, ../../scss/style.teal.rounded.scss */
.box-product h6 a {
  font-size: 13px;
  line-height: 1.4;
  display: block;
}

/* line 866, ../../scss/style.teal.rounded.scss */
.box-product:hover .img-wrapper > .option {
  bottom: 0;
}

/* line 870, ../../scss/style.teal.rounded.scss */
.price {
  margin-bottom: 5px;
  color: #ef5350;
}

/* line 875, ../../scss/style.teal.rounded.scss */
.price-old {
  position: relative;
  display: inline-block;
  margin-right: 7px;
  color: #666;
}

/* line 881, ../../scss/style.teal.rounded.scss */
.price-old:before {
  position: absolute;
  width: 100%;
  height: 60%;
  content: '';
  border-bottom: 1px solid #666;
}

/* line 889, ../../scss/style.teal.rounded.scss */
.rating i {
  color: #ffc107;
}

/* line 893, ../../scss/style.teal.rounded.scss */
.brand-slider {
  margin-bottom: 15px;
}

/* line 896, ../../scss/style.teal.rounded.scss */
.brand-slider .brand {
  padding: 15px 0;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

/* line 901, ../../scss/style.teal.rounded.scss */
.brand-slider .brand img {
  width: inherit;
  margin: 0 auto;
}

/* line 906, ../../scss/style.teal.rounded.scss */
.footer {
  font-size: 13px;
  margin-top: 15px;
  color: #bababa;
  background-color: #373939;
}

/* line 912, ../../scss/style.teal.rounded.scss */
.footer ul {
  line-height: 1.7;
  padding: 0;
  list-style: none;
}

/* line 917, ../../scss/style.teal.rounded.scss */
.footer ul li a {
  color: #bababa;
}

/* line 920, ../../scss/style.teal.rounded.scss */
.footer .copyright {
  padding: 10px;
  color: #bababa;
  background-color: #202222;
}

/* line 925, ../../scss/style.teal.rounded.scss */
.footer .footer-icon span i {
  line-height: 2;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-align: center;
  border: 1px solid #a3a3a3;
  border-radius: 100%;
}

/* line 935, ../../scss/style.teal.rounded.scss */
.footer .follow-us {
  display: inline-block;
}

/* line 938, ../../scss/style.teal.rounded.scss */
.footer .follow-us li {
  float: left;
}

/* line 941, ../../scss/style.teal.rounded.scss */
.footer .follow-us li a {
  font-size: 20px;
  line-height: 2;
  display: block;
  width: 40px;
  height: 40px;
  margin: 10px 10px 0 0;
  text-align: center;
  border: 1px solid #a3a3a3;
  border-radius: 100%;
  -webkit-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

/* line 955, ../../scss/style.teal.rounded.scss */
.footer .subscribe-button {
  font-size: 13px;
  height: 32px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 961, ../../scss/style.teal.rounded.scss */
.footer input[type="text"] {
  height: 32px;
  border-color: transparent;
}

/* line 965, ../../scss/style.teal.rounded.scss */
.footer input[type="text"]:focus {
  z-index: 2;
  border-color: transparent;
}

/* line 970, ../../scss/style.teal.rounded.scss */
.title-footer {
  font-size: 18px;
  line-height: 1;
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #bababa;
}

/* line 977, ../../scss/style.teal.rounded.scss */
.title-footer > span {
  display: inline-block;
  color: #bababa;
}

/* line 982, ../../scss/style.teal.rounded.scss */
.back-top {
  position: fixed;
  z-index: 999;
  right: 0;
  bottom: 0;
  display: none;
  width: 30px;
  height: 23px;
  color: #fff;
  background-color: #202222;
}

/* line 993, ../../scss/style.teal.rounded.scss */
.back-top:hover, .back-top:focus, .back-top:active {
  color: #fff;
}

/* line 996, ../../scss/style.teal.rounded.scss */
.back-top:hover {
  background-color: #373939;
  -webkit-transition: all 100ms ease-in-out 0s;
  -o-transition: all 100ms ease-in-out 0s;
  transition: all 100ms ease-in-out 0s;
}

/* line 1003, ../../scss/style.teal.rounded.scss */
.filter-sidebar {
  margin-bottom: 25px;
}

/* line 1006, ../../scss/style.teal.rounded.scss */
.filter-sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 1011, ../../scss/style.teal.rounded.scss */
.filter-sidebar ul li {
  position: relative;
  margin-bottom: 3px;
}

/* line 1015, ../../scss/style.teal.rounded.scss */
.filter-sidebar ul li a.remove-filter {
  position: absolute;
  top: 0;
  right: 0;
  color: #aaa;
}

/* line 1021, ../../scss/style.teal.rounded.scss */
.filter-sidebar .price-range {
  overflow: hidden;
  margin-top: 5px;
  padding: 3px 0;
}

/* line 1027, ../../scss/style.teal.rounded.scss */
.noUi-target {
  height: 11px;
  border: 0;
  border-radius: 4px;
  background-color: #dbdbdb;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 1035, ../../scss/style.teal.rounded.scss */
.noUi-target .noUi-background {
  background-color: #dbdbdb;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 1040, ../../scss/style.teal.rounded.scss */
.noUi-target .noUi-origin {
  border-radius: 4px;
}

/* line 1043, ../../scss/style.teal.rounded.scss */
.noUi-target .noUi-origin .noUi-handle {
  top: -3px;
  left: -9px;
  width: 17px;
  height: 17px;
  cursor: default;
  border: 0;
  border-radius: 4px;
  background-color: #797979;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 1055, ../../scss/style.teal.rounded.scss */
.noUi-target .noUi-origin .noUi-handle:before, .noUi-target .noUi-origin .noUi-handle:after {
  content: none;
}

/* line 1058, ../../scss/style.teal.rounded.scss */
.noUi-target .noUi-connect {
  background-color: #a2a2a2;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 1064, ../../scss/style.teal.rounded.scss */
.product-sorting-bar {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* line 1071, ../../scss/style.teal.rounded.scss */
.product-sorting-bar > div {
  float: left;
  padding: 10px;
}

/* line 1076, ../../scss/style.teal.rounded.scss */
.pagination > li > a,
.pagination > li > span {
  color: #666;
  border-bottom: 2px solid #d6d8d9;
}

/* line 1081, ../../scss/style.teal.rounded.scss */
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* line 1086, ../../scss/style.teal.rounded.scss */
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 1092, ../../scss/style.teal.rounded.scss */
.pager > li > a,
.pager > li > span {
  color: #666;
  border-bottom: 2px solid #d6d8d9;
  border-radius: 4px;
}

/* line 1099, ../../scss/style.teal.rounded.scss */
.input-qty {
  width: 150px;
}

/* line 1103, ../../scss/style.teal.rounded.scss */
.table-cart .img-cart {
  width: 77px;
}

/* line 1106, ../../scss/style.teal.rounded.scss */
.table-cart .img-cart img {
  width: 50px;
}

/* line 1109, ../../scss/style.teal.rounded.scss */
.table-cart small {
  display: block;
}

/* line 1112, ../../scss/style.teal.rounded.scss */
.table-cart .unit,
.table-cart .sub,
.table-cart .action {
  width: 100px;
}

/* line 1118, ../../scss/style.teal.rounded.scss */
.bootstrap-touchspin .bootstrap-touchspin-prefix {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* line 1123, ../../scss/style.teal.rounded.scss */
.testimonial {
  font-size: 14.5px;
}

/* line 1127, ../../scss/style.teal.rounded.scss */
.table-compare {
  text-align: center;
}

/* line 1130, ../../scss/style.teal.rounded.scss */
.table-compare tbody tr td:first-child,
.table-compare .compare-product {
  background-color: #f8f8f8;
}

/* line 1134, ../../scss/style.teal.rounded.scss */
.table-compare tbody tr td:first-child {
  text-align: left;
}

/* line 1138, ../../scss/style.teal.rounded.scss */
.image-detail {
  margin-bottom: 10px;
}

/* line 1141, ../../scss/style.teal.rounded.scss */
.image-detail img {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* line 1147, ../../scss/style.teal.rounded.scss */
.title-detail {
  font-size: 20px;
  line-height: 1;
  margin-bottom: 20px;
}

/* line 1153, ../../scss/style.teal.rounded.scss */
.table-detail tr td {
  vertical-align: middle !important;
}

/* line 1156, ../../scss/style.teal.rounded.scss */
.table-detail tr td:first-child {
  width: 150px;
}

/* line 1159, ../../scss/style.teal.rounded.scss */
.table-detail tr td:first-child::after {
  float: right;
  content: ':';
}

/* line 1163, ../../scss/style.teal.rounded.scss */
.table-detail tr:last-child td:first-child::after {
  content: '';
}

/* line 1167, ../../scss/style.teal.rounded.scss */
.nav-tabs > li > a {
  border-radius: 4px 4px 0 0;
}

/* line 1170, ../../scss/style.teal.rounded.scss */
.nav-tabs > li > a:focus, .nav-tabs > li > a:active {
  outline: 0;
}

/* line 1174, ../../scss/style.teal.rounded.scss */
.tab-content-detail table tr td:first-child {
  background: #f8f8f8;
}

/* line 1177, ../../scss/style.teal.rounded.scss */
.tab-content-detail .well {
  border-top: 0;
  border-radius: 0;
  background: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 1185, ../../scss/style.teal.rounded.scss */
.product-rating {
  font-size: 13px;
  margin-top: 5px;
  text-align: center;
  color: #fc0;
}

/* line 1192, ../../scss/style.teal.rounded.scss */
.input-rating {
  font-size: 24px;
  display: inline-block;
  color: #fc0;
}

/* line 1197, ../../scss/style.teal.rounded.scss */
.input-rating i {
  width: 20px;
}

/* line 1201, ../../scss/style.teal.rounded.scss */
.blog-list {
  border-radius: 4px;
}

/* line 1204, ../../scss/style.teal.rounded.scss */
.blog-list .caption {
  color: #666;
}

/* line 1207, ../../scss/style.teal.rounded.scss */
.blog-list .caption h4 {
  font-weight: normal;
}

/* line 1210, ../../scss/style.teal.rounded.scss */
.blog-list img {
  width: 100%;
}

/* line 1214, ../../scss/style.teal.rounded.scss */
.blog-list small, .blog-detail-content small {
  display: block;
  margin-bottom: 5px;
}

/* line 1218, ../../scss/style.teal.rounded.scss */
.blog-list small span, .blog-detail-content small span {
  margin-right: 7px;
}

/* line 1221, ../../scss/style.teal.rounded.scss */
.blog-list small a,
.blog-list small span, .blog-detail-content small a,
.blog-detail-content small span {
  color: #a6a6a6;
}

/* line 1227, ../../scss/style.teal.rounded.scss */
.blog-detail-content {
  margin-bottom: 30px;
}

/* line 1230, ../../scss/style.teal.rounded.scss */
.blog-detail-content .img-thumbnail {
  width: 100%;
  margin-bottom: 15px;
}

/* line 1235, ../../scss/style.teal.rounded.scss */
.share-button button {
  width: 40px;
}

/* line 1239, ../../scss/style.teal.rounded.scss */
.fuelux .wizard {
  border-radius: 4px;
}

/* line 1243, ../../scss/style.teal.rounded.scss */
.fuelux .bootstrap-select.btn-group .dropdown-menu li {
  display: block !important;
}

/* line 1247, ../../scss/style.teal.rounded.scss */
.step-pane {
  padding-top: 15px;
}

/* line 1251, ../../scss/style.teal.rounded.scss */
.account-picture {
  padding: 0 50px;
}

/* line 1254, ../../scss/style.teal.rounded.scss */
.account-picture img {
  margin: 0 auto;
}

/* line 1258, ../../scss/style.teal.rounded.scss */
.mega-menu {
  position: static !important;
}

/* line 1261, ../../scss/style.teal.rounded.scss */
.mega-menu .dropdown-menu {
  width: 100%;
}

/* line 1264, ../../scss/style.teal.rounded.scss */
.mega-menu .mega-menu-content {
  padding: 20px 30px 5px;
}

/* line 1267, ../../scss/style.teal.rounded.scss */
.mega-menu .list-unstyled {
  margin-bottom: 15px;
}

/* line 1270, ../../scss/style.teal.rounded.scss */
.mega-menu .list-unstyled a {
  display: block;
  padding: 3px 20px 3px 10px;
}

/* line 1274, ../../scss/style.teal.rounded.scss */
.mega-menu .list-unstyled a:hover {
  text-decoration: none;
  color: #262626;
  background-color: #eee;
}

/* line 1279, ../../scss/style.teal.rounded.scss */
.mega-menu .list-unstyled a::before {
  font-family: 'fontAwesome';
  margin-right: 5px;
  content: '\f105';
}

/* line 1285, ../../scss/style.teal.rounded.scss */
.breadcrumb-container {
  background-color: #f5f5f5;
}

/* line 1288, ../../scss/style.teal.rounded.scss */
.breadcrumb-container .breadcrumb {
  padding-top: 10px;
  background-color: transparent;
  margin-bottom: 0;
  border-radius: 4px;
}

/* line 1294, ../../scss/style.teal.rounded.scss */
.breadcrumb-container .breadcrumb > li + li:before {
  font-family: 'fontAwesome';
  content: '\f101';
}

/* line 1299, ../../scss/style.teal.rounded.scss */
.btn-theme {
  color: #fff;
  background-color: #009688;
  border-color: #00897b;
}

/* line 1304, ../../scss/style.teal.rounded.scss */
.btn-theme:focus, .btn-theme.focus {
  color: #fff;
  background-color: #00635a;
  border-color: #000a09;
}

/* line 1309, ../../scss/style.teal.rounded.scss */
.btn-theme:hover {
  color: #fff;
  background-color: #00635a;
  border-color: #004c44;
}

/* line 1314, ../../scss/style.teal.rounded.scss */
.btn-theme:active, .btn-theme.active, .open > .btn-theme.dropdown-toggle {
  color: #fff;
  background-color: #00635a;
  border-color: #004c44;
}

/* line 1319, ../../scss/style.teal.rounded.scss */
.btn-theme:active:hover, .btn-theme:active:focus, .btn-theme:active.focus, .btn-theme.active:hover, .btn-theme.active:focus, .btn-theme.active.focus, .open > .btn-theme.dropdown-toggle:hover, .open > .btn-theme.dropdown-toggle:focus, .open > .btn-theme.dropdown-toggle.focus {
  color: #fff;
  background-color: #003f39;
  border-color: #000a09;
}

/* line 1324, ../../scss/style.teal.rounded.scss */
.btn-theme:active, .btn-theme.active, .open > .btn-theme.dropdown-toggle {
  background-image: none;
}

/* line 1327, ../../scss/style.teal.rounded.scss */
.btn-theme.disabled:hover, .btn-theme.disabled:focus, .btn-theme.disabled.focus, .btn-theme[disabled]:hover, .btn-theme[disabled]:focus, .btn-theme[disabled].focus, fieldset[disabled] .btn-theme:hover, fieldset[disabled] .btn-theme:focus, fieldset[disabled] .btn-theme.focus {
  background-color: #009688;
  border-color: #00897b;
}

/* line 1331, ../../scss/style.teal.rounded.scss */
.btn-theme .badge {
  color: #009688;
  background-color: #fff;
}

/* line 1336, ../../scss/style.teal.rounded.scss */
.form-control:focus {
  border-color: #009688;
}

/* line 1340, ../../scss/style.teal.rounded.scss */
input[type=checkbox]:checked + span::before,
input[type=radio]:checked + span::before {
  color: #009688;
}

/* line 1345, ../../scss/style.teal.rounded.scss */
.title {
  border-bottom: 3px solid #80cbc4;
}

/* line 1348, ../../scss/style.teal.rounded.scss */
.title span {
  border-bottom: 3px solid #00897b;
}

/* line 1352, ../../scss/style.teal.rounded.scss */
.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select.open .dropdown-toggle,
.bootstrap-select.open .dropdown-toggle:hover {
  border-color: #009688;
}

/* line 1358, ../../scss/style.teal.rounded.scss */
.img-thumbnail:hover {
  border-color: #009688;
}

/* line 1362, ../../scss/style.teal.rounded.scss */
.top-header {
  background-color: #009688;
}

/* line 1365, ../../scss/style.teal.rounded.scss */
.top-header ul.list-inline > li > a,
.top-header ul.list-inline > li .dropdown-toggle {
  color: #fff;
  border-color: #009688;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

/* line 1371, ../../scss/style.teal.rounded.scss */
.top-header ul.list-inline > li > a:hover, .top-header ul.list-inline > li > a:active,
.top-header ul.list-inline > li .dropdown-toggle:hover,
.top-header ul.list-inline > li .dropdown-toggle:active {
  border-color: #00897b;
  background-color: #00897b;
}

/* line 1377, ../../scss/style.teal.rounded.scss */
.top-header ul.list-inline > li .dropdown.open > .dropdown-toggle,
.top-header ul.list-inline > li .bootstrap-select.open > .dropdown-toggle {
  color: #efefef;
  border-color: #00796b;
  background-color: #00796b;
}

/* line 1384, ../../scss/style.teal.rounded.scss */
.middle-header .btn-search {
  color: #fff;
  border-color: transparent;
  background-color: #009688;
}

/* line 1389, ../../scss/style.teal.rounded.scss */
.middle-header .btn-search:active, .middle-header .btn-search:focus {
  color: #fff;
  border-color: transparent;
  outline: 0;
  background-color: #00796b;
}

/* line 1395, ../../scss/style.teal.rounded.scss */
.middle-header .cart-btn > button:hover {
  border-color: #009688;
}

/* line 1398, ../../scss/style.teal.rounded.scss */
.middle-header .cart-btn.open > button {
  border-color: #009688 !important;
}

/* line 1402, ../../scss/style.teal.rounded.scss */
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:focus,
.navbar .navbar-nav > .open > a:hover {
  color: #fff !important;
  background-color: #009688;
}

/* line 1413, ../../scss/style.teal.rounded.scss */
.navbar .navbar-toggle:active, .navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover,
.navbar .btn-cart-xs:active,
.navbar .btn-cart-xs:focus,
.navbar .btn-cart-xs:hover {
  border-color: #009688;
}

/* line 1420, ../../scss/style.teal.rounded.scss */
.box-product-outer:hover {
  border: 1px solid #009688;
}

/* line 1424, ../../scss/style.teal.rounded.scss */
.brand-slider .brand:hover {
  border-color: #009688;
}

/* line 1428, ../../scss/style.teal.rounded.scss */
.footer ul li a:hover {
  color: #26a69a;
}

/* line 1431, ../../scss/style.teal.rounded.scss */
.footer .subscribe-button {
  color: #fff;
  border-color: #fff;
  background-color: #009688;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

/* line 1437, ../../scss/style.teal.rounded.scss */
.footer .subscribe-button:active, .footer .subscribe-button:focus {
  color: #fff;
  border-color: #fff;
  outline: 0;
  background-color: #00796b;
}

/* line 1444, ../../scss/style.teal.rounded.scss */
.follow-us li a:hover {
  color: #fff !important;
  border: 1px solid #fff;
  background-color: #009688;
}

/* line 1450, ../../scss/style.teal.rounded.scss */
.filter-sidebar ul li a.remove-filter:hover {
  color: #009688;
}

/* line 1454, ../../scss/style.teal.rounded.scss */
.noUi-target .noUi-connect {
  background-color: #009688;
}

/* line 1458, ../../scss/style.teal.rounded.scss */
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  border-color: #009688;
  background-color: #009688;
}

/* line 1466, ../../scss/style.teal.rounded.scss */
.blog-list:hover {
  border-color: #009688;
}

/* line 1470, ../../scss/style.teal.rounded.scss */
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #009688;
}

/* line 1474, ../../scss/style.teal.rounded.scss */
.breadcrumb-container .breadcrumb > li > a {
  color: #009688;
}

@media (max-width: 992px) {
  /* line 1479, ../../scss/style.teal.rounded.scss */
  .logo {
    text-align: center;
  }

  /* line 1482, ../../scss/style.teal.rounded.scss */
  .logo img {
    display: inherit;
  }
}
@media (min-width: 768px) {
  /* line 1487, ../../scss/style.teal.rounded.scss */
  .middle-header .btn-search {
    margin-left: -2px !important;
  }

  /* line 1491, ../../scss/style.teal.rounded.scss */
  .navbar .navbar-collapse {
    position: relative;
    padding-right: 0;
    padding-left: 0;
  }

  /* line 1497, ../../scss/style.teal.rounded.scss */
  .dropdown-submenu > a:after {
    display: block;
    font-family: 'fontAwesome';
    content: "\f0da";
    float: right;
    margin-right: -10px;
  }

  /* line 1505, ../../scss/style.teal.rounded.scss */
  .chooser {
    position: fixed;
    z-index: 999;
    top: 100px;
    right: 0;
    -webkit-transition: all 100ms ease-in-out 0s;
    -o-transition: all 100ms ease-in-out 0s;
    transition: all 100ms ease-in-out 0s;
  }

  /* line 1515, ../../scss/style.teal.rounded.scss */
  .chooser-hide {
    right: -120px;
  }

  /* line 1519, ../../scss/style.teal.rounded.scss */
  .chooser-toggle {
    position: absolute;
    top: 0;
    left: -38px;
    width: 20px;
    height: 20px;
  }

  /* line 1526, ../../scss/style.teal.rounded.scss */
  .chooser-toggle button:hover,
  .chooser-toggle button:focus,
  .chooser-toggle button:active {
    border-color: #eea236;
    outline: 0 !important;
  }

  /* line 1533, ../../scss/style.teal.rounded.scss */
  .chooser-content {
    width: 120px;
    padding: 10px;
    border: 3px solid #eea236;
    background: #fff;
  }

  /* line 1539, ../../scss/style.teal.rounded.scss */
  .chooser-content select {
    height: 30px;
  }
}
@media (max-width: 768px) {
  /* line 1544, ../../scss/style.teal.rounded.scss */
  .dropdown-submenu > .dropdown-menu {
    padding-left: 15px;
  }

  /* line 1547, ../../scss/style.teal.rounded.scss */
  .dropdown-submenu > a:after {
    display: inline-block;
    font-family: 'fontAwesome';
    content: "\f0d7";
    margin-left: 10px;
  }

  /* line 1554, ../../scss/style.teal.rounded.scss */
  .input-qty .bootstrap-touchspin {
    width: 115px;
  }

  /* line 1558, ../../scss/style.teal.rounded.scss */
  .table-compare > tbody > tr > td {
    white-space: inherit !important;
  }

  /* line 1562, ../../scss/style.teal.rounded.scss */
  .chooser {
    display: none;
  }
}
@media (max-width: 480px) {
  /* line 1567, ../../scss/style.teal.rounded.scss */
  .box-product-outer {
    padding: 0 !important;
  }

  /* line 1570, ../../scss/style.teal.rounded.scss */
  .box-product-outer:hover {
    border-color: transparent;
  }

  /* line 1574, ../../scss/style.teal.rounded.scss */
  .box-product .img-wrapper > .option {
    bottom: 0;
  }
}
